@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-1 * var(--scroll-distance)));
    }
}


#player {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-container-header {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.player-container-header-left,
.player-container-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.player-container-header-left button,
.player-container-header-right button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    transition: transform ease-in-out 0.2s;
}

.player-container-header-left button:hover,
.player-container-header-right button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
}

.player-container-header-left img,
.player-container-header-right img {
    width: 30px;
    height: 30px;
}

.player-vertical-line {
    width: 93%;
    margin: 5px;
    color: aliceblue;
    opacity: 0.6;
}

.player-container-list {
    width: 97%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.player-container-audio {
    position: relative;
    bottom: 5px;

    width: 97%;
    height: 80px;
    padding: 10px;
    /* border: red solid 1px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-container-selected-music,
.player-container-main-audio,
.player-container-audio-adjusts {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.player-container-selected-music {
    user-select: none;
    margin-left: 3%;
    width: 23%;
}

.player-container-main-audio {
    /* border: red solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

.player-container-audio-adjusts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    margin-left: 10px;
    width: 23%;
}


.player-music-you-listen {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-family: 'ws-regu';
    font-size: 20px;
    gap: 10px;
}

.player-music-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-top: 2px;
}

/* .music-title-part-disabled {
    opacity: 0;
} */

.music-title-part-active {
    opacity: 1;
}

.player-music-name .border-left,
.player-music-name .border-right {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.player-music-name .border-left {
    background-image: linear-gradient(90deg, #040207 10%, #00000000 90%);
    left: -0.5%;
}

.player-music-name .border-right {
    background-image: linear-gradient(90deg, #00000000 10%, #040207 90%);
    right: -0.5%;
}

.music-name-content {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 40px;
    padding: 0;
}

.music-title-content {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    left: 100%;
    animation: scrollText linear infinite;
    color: aliceblue;
    font-family: 'ws-regu';
    font-size: 30px;
}

.player-music-you-listen img {
    width: 25px;
    height: 25px;
}

.player-progress-container {
    position: relative;
    height: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.player-progress-bar::before,
.player-volume-slider::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 1;
}

.player-progress-bar {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
    border: aliceblue 1px solid;
}

.player-progress-fill {
    height: 100%;
    background-color: rgb(0, 255, 0);
    ;
    width: 0%;
    border-radius: 5px 0 0 5px;
}

.player-progress-thumb {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

.player-read,
.player-read-main-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-read {
    margin-top: 10px;
    width: 100%;
    /* border: yellow 1px solid; */
}

.player-read-main-part {
    /* border: violet 1px solid; */
    width: 25%;
}

.player-skip-back,
.player-skip-forward {
    width: 25px;
    height: 25px;
    transition: transform ease 0.3s;
}

.player-skip-back:hover,
.player-skip-forward:hover {
    transform: scale(1.1);
    transition: transform ease 0.3s;
}

.player-skip-back:active,
.player-skip-forward:active {
    transform: scale(0.9);
    transition: transform ease 0.2s;
}

.player-skip-back {
    background-image: url("../../../assets/icons/skip-back.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.player-skip-forward {
    background-image: url("../../../assets/icons/skip-forward.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.player-play-pause {
    background-image: url("../../../assets/icons/pause.svg");
    width: 35px;
    height: 35px;
    transition: transform ease 0.3s;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.player-play-pause:hover {
    transform: scale(1.1);
    transition: transform ease 0.3s;
}

.player-play-pause:active {
    transform: scale(0.9);
    transition: transform ease 0.2s;
}

.pause {
    background-image: url("../../../assets/icons/pause.svg");
}

.play {
    background-image: url("../../../assets/icons/play.svg");
}

.player-read-current-duration,
.player-read-total-duration {
    font-family: "ws-semi";
    font-size: 25px;
    color: aliceblue;
    display: flex;
    align-items: center;
    width: 15%;
}

.player-read-current-duration {
    justify-content: flex-start;
}

.player-read-total-duration {
    justify-content: flex-end;
}

.player-volume-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

#player-volume {
    position: absolute;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform ease 0.3s;
}

.player-volume-100 {
    background-image: url("../../../assets/icons/speaker-high.svg");
}

.player-volume .player-volume-50 {
    background-image: url("../../../assets/icons/speaker-low.svg");
}

.player-volume .player-volume-0 {
    background-image: url("../../../assets/icons/speaker-x.svg");
}

#volume-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    background-color: #0d0717;
    border: solid 2px aliceblue;
    border-radius: 10px;
    width: 100px;
    height: 200px;
}

.player-volume-container {
    padding-top: 13px;
    padding-bottom: 13px;
    height: 100px;
    width: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-volume-slider {
    position: relative;
    width: 6px;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px aliceblue;
    cursor: pointer;
}

.player-volume-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 255, 0);
    height: 100%;
    border-radius: 5px;
}

.player-volume-thumb {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    /* top: 50%; */
    pointer-events: none;
}

.player-volume-value {
    user-select: none;
    font-family: 'ws-semi';
    font-size: 20px;
    color: aliceblue;
}

.player-volume-mute {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease 0.3s;
    background-image: url("../../../assets/icons/speaker-high.svg");
}

.player-volume-mute:hover, #player-volume:hover {
    transform: scale(1.1);
    transition: transform ease 0.3s;
}

.player-volume-mute:active, #player-volume:active {
    transform: scale(0.9);
    transition: transform ease 0.2s;
}

.mute,
.unmute {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.unmute {
    background-image: url("../../../assets/icons/speaker-high.svg");
}

.mute {
    background-image: url("../../../assets/icons/speaker-x.svg");
}

.player-audio-adjusts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.player-loop-btn, .player-random-btn {
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.player-loop-btn, .loop-all {
    background-image: url("../../../assets/icons/repeat.svg");
}

.one {
    background-image: url("../../../assets/icons/repeat-once.svg");
}

.none {
    background-image: url("../../../assets/icons/no-repeat.svg");
}

.player-random-btn {
    background-image: url("../../../assets/icons/shuffle.svg");
}