@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }
}


#player {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-container-header {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.player-container-header-left,
.player-container-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.player-container-header-left button,
.player-container-header-right button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    transition: transform ease-in-out 0.2s;
}

.player-container-header-left button:hover,
.player-container-header-right button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
}

.player-container-header-left img,
.player-container-header-right img {
    width: 30px;
    height: 30px;
}

.player-vertical-line {
    width: 93%;
    margin: 5px;
    color: aliceblue;
    opacity: 0.6;
}

.player-container-list {
    width: 97%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.player-container-audio {
    position: relative;
    bottom: 5px;

    width: 97%;
    height: 80px;
    padding: 10px;
    /* border: red solid 1px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-container-selected-music,
.player-container-main-audio,
.player-container-audio-adjusts {
    position: relative;
    display: flex;
    flex-direction: column;
}

.player-container-selected-music {
    user-select: none;
    margin-left: 3%;
    width: 23%;
}

.player-container-main-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.player-container-audio-adjusts {
    padding: 10px;
    width: 23%;
}


.player-music-you-listen {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    font-family: 'ws-regu';
    font-size: 20px;
    gap: 10px;
}

.player-music-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-top: 2px;
}

/* .music-title-part-disabled {
    opacity: 0;
} */

.music-title-part-active {
    opacity: 1;
}

.player-music-name .border-left,
.player-music-name .border-right {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.player-music-name .border-left {
    background-image: linear-gradient(90deg, #040207 10%, #00000000 90%);
    left: -0.5%;
}

.player-music-name .border-right {
    background-image: linear-gradient(90deg, #00000000 10%, #040207 90%);
    right: -0.5%;
}

.music-name-content {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 40px;
    padding: 0;
}

.music-title-content {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    left: 100%;
    animation: scrollText linear infinite;
    color: aliceblue;
    font-family: 'ws-regu';
    font-size: 30px;
}

.player-music-you-listen img {
    width: 25px;
    height: 25px;
}

.player-progress-container {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #333;
  cursor: pointer;
  border-radius: 5px;
}

.player-progress-bar {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  background-color: #444;
}

.player-progress-fill {
  height: 100%;
  background-color: rgb(0, 255, 0);;
  width: 0%;
  border-radius: 5px 0 0 5px;
}

.player-progress-thumb {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none; /* Permet de cliquer à travers le thumb */
}

.player-play-pause {
    background-image: url("../../../assets/icons/pause.svg");
    width: 30px;
    height: 30px;
    transition: transform ease 0.3s;
}

.player-play-pause:hover {
    transform: scale(1.1);
    transition: transform ease 0.3s;
}

.player-play-pause:active {
    transform: scale(0.9);
    transition: transform ease 0.2s;
}

.pause {
    background-image: url("../../../assets/icons/pause.svg");
}

.play {
    background-image: url("../../../assets/icons/play.svg");
}