@font-face {
    font-family: 'ws-bold';
    src: url('../../assets/fonts/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'ws-semi';
    src: url('../../assets/fonts/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: 'ws-regu';
    src: url('../../assets/fonts/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'ws-med';
    src: url('../../assets/fonts/WorkSans-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #040207 10%, #12091f 90%);
    overflow: hidden;
}

#header {
    z-index: 999;
    -webkit-app-region: drag;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    width: 100%;
    height: 40px;
    gap: 7px;
}

#header p {
    font-family: 'ws-Bold';
    font-size: 18px;
    color: rgba(240, 248, 255, 0.4);
}

#header img {
    position: relative;
    top: 1px;
    width: 28px;
    height: 28px;
}

#app {
    width: 100vw;
    height: calc(100% - 40px);
    position: absolute;
    left: 0;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}