<div class="main-container-title">
    <p class="main-text-mainTitle">WaveMaster</p>
    <p class="main-text-mainDesc">The best simple audio player and editor</p>
</div>
<div class="main-container-buttons">
    <button class="main-button-playlist">
        <img src="./assets/icons/playlist.svg">
        <p class="main-text-playlistText">Playlists</p>
    </button>
    <button class="main-button-player">
        <img src="./assets/icons/music-note.svg">
        <p class="main-text-playerText">Player</p>
    </button>
    <button class="main-button-editor">
        <img src="./assets/icons/faders.svg">
        <p class="main-text-editorText">Editor</p>
    </button>
</div>